.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
}

.loading-message, .no-result-message {
  font-size: 36px;
  font-family: Rubik;
  color: #828282;
}